<link rel="stylesheet" href="/css/custom.css">

<!-- Monetag Verification -->
<meta name="monetag" content="5813f4a6eceeaf2026070acbafc390e6">

<!-- Monetag Multi Ads -->
<script src="https://quge5.com/88/tag.min.js" data-zone="273934" async data-cfasync="false"></script>

<!-- Monetag Onclick Ads -->
<script>(function(s){s.dataset.zone='11666430',s.src='https://al5sm.com/tag.min.js'})([document.documentElement, document.body].filter(Boolean).pop().appendChild(document.createElement('script')))</script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GF4FGQ8THZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GF4FGQ8THZ');
</script>